* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-around;
  padding: 15px 20px;
  background-color: gray;
}
.menu {
  border: 1px solid white;
  color: white;
  padding: 15px;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  padding: 80px 0;
}
.article {
  flex-basis: 15%;
  background-color: lightgray;
}
.article-title {
  min-height: 100px;
  background-color: gray;
}
.footer {
  background-color: black;
}
.footer-item {
  color: white;
  border: 1px solid white;
}
